 <!--     NAVBAR     -->
 <!--     NAVBAR     -->
 <nav class="navbar navbar-expand-sm navbar-light bg-light  navbar-fixed-top" >
  <a class="navbar-brand" href="#">Book Store</a>

  <a class="navbar-brand" href="http://revature.com">
      <img src="./assets/revature-logo.png" 
      style="position:absolute;left:150;top:0; height:50px"
       alt="Revaturelogo"></a>
       
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent"> <!-- collapse will be not allow overlapping-->
          <ul class="navbar-nav mr-auto">
                 <!-- It will expand the items mr= margin-right-->
          </ul>
                <ul class="nav nav-tabs">

                      <li router></li>

                      <li routerLinkActive="active" class="active p-3">
                          <a routerLink="Home" style="padding-left:100px">Home</a> </li>
                      <li routerLinkActive="active" class="active p-3">
                          <a routerLink="addBook" style="padding-left:100px">Add </a>
                      </li>
                      <li routerLinkActive="active" class="active p-3">
                          <a routerLink="books" style="padding-left:100px">List </a>
                      </li>   

                    </ul>
                  
      <form class="form-inline my-2 my-lg-0"> <!-- m stands for margin and y (top+bottom)-->
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">
              <span class="glyphicon glyphicon-search"></span>
              Search  
          </button>
      </form>
      
      <a href="logout">
          <button type="button" class="btn btn-danger ml-4">Log Out</button>
      </a>
      
  </div>
</nav>
  


