 <!--     NAVBAR     -->
 <!--     NAVBAR     -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <a class="navbar-brand" href="Home"> <img src="https://buy-stuffs.s3.us-east-2.amazonaws.com/stuffs_disscount.jpg" 
          style="position:absolute;left:150;top:10px; height:50px"
           alt="BuyStuffs logo"></a>
      
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> <!-- collapse will be not allow overlapping-->
                <ul class="navbar-nav mr-auto">
                       <!-- It will expand the items mr= margin-right-->
                </ul>
                      <ul class="nav nav-tabs">
      
                            
                            <li routerLinkActive="active" class="active p-3">
                                <a href="login" style="padding-left:100px; color: gray">Login</a> </li>
                            <li routerLinkActive="active" class="active p-3">
                                <a href="http://localhost:8090/Buy_Stuffs/LoginController/viewHome" style="padding-left:100px; color: gray">Home</a> </li>
                            <li routerLinkActive="active" class="active p-3">
                                <a routerLink="addItem" style="padding-left:100px; color: gray">Add Item</a>
                            </li>
                            <li routerLinkActive="active" class="active p-3">
                              <a routerLink="showClientList" style="padding-left:100px; color: gray">Clients</a>
                            </li>
                            
                            
      
                          </ul>
                        
            
            
            <a href="http://localhost:8090/Buy_Stuffs/LoginController/logout">
                <button type="button" class="btn btn-danger ml-4">Log Out</button>
            </a>
            
        </div>
      </nav>
      
      
      <router-outlet></router-outlet>
        
      