 <!--     NAVBAR     -->
 <!--     NAVBAR     -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <a class="navbar-brand" href="Home"> <img src="https://buy-stuffs.s3.us-east-2.amazonaws.com/stuffs_disscount.jpg" 
          style="position:absolute;left:150;top:10px; height:50px"
           alt="BuyStuffs logo"></a>
      
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                      <ul class="nav nav-tabs">
      
                            
                            <li routerLinkActive="active" class="active p-3">
                                <a href="login" style="padding-left:100px; color: gray">Login</a> </li>
                            <li routerLinkActive="active" class="active p-3">
                                <a href="home" style="padding-left:100px; color: gray">Home</a> </li>
                            <li routerLinkActive="active" class="active p-3">
                                <a id="addItem" routerLink="addItem" style="padding-left:100px; color: gray">Add Item</a>
                            </li>
                            <li routerLinkActive="active" class="active p-3">
                              <a routerLink="showClientList" style="padding-left:100px; color: gray">Clients</a>
                            </li>
                            
                            
      
                          </ul>
                        
            
            
            <a href="login">
                <button (click)="logout()" class="btn btn-danger ml-4">Log Out</button>
            </a>
            
        </div>
      </nav>

             
      
   

      <router-outlet></router-outlet>

            <!-- <img src="https://buy-stuffs.s3.us-east-2.amazonaws.com/online-shop-1-01-.jpg" alt="Online Shopping" width="1100" height="500"> -->

        
      